.github
.git
.gitignore
.bak
.pyc
node_modules/
Dockerfile
docker-compose.yml

dist/
tools/
docs/

**/node_modules

docs-build/
.github/
projects/client-api/jsdocs/
projects/client-api/www/
projects/client-api-react/www/
projects/client-api/dist
projects/client-api-react/dist
projects/node-api/dist
projects/node-api/docs
DEVELOP.md
README.md
