.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: 100%;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  margin: 0.5em;
  color: white;
}

.Content {
  flex-grow: 1;
}

.SidebarSelection {
    background-color: #333;
    text-align: center;
    font-size: 10px;
    border-radius: 4px;
    color: #eee;
    min-height: 200;
    padding: 12;
    width: 100;
}

.SidebarBox {
  background-color: white;
  position: absolute;
  border-radius: 4px;
  top: 300px;
  left: -3px;
  width: 100px;
  height: 105px;
  margin: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
   
}

.sb-body {
  top: auto;
  opacity: 0.1;
  height: 50px;
  width: 250px;
  border-radius: 4px;
  overflow: scroll;
  transition: width 3s, height 3s, background-color 3s, transform 3s;
}

.sb-body:hover{
  height: 520px;
  width: 399px;
  opacity: 1;
  border-radius: 4px;
  overflow: scroll;
}

.dropbtn {
  background-color: white;
  text-align: center;
  border-radius: 4px;
  color: rgb(27, 24, 24);
  padding: 16px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: b;
  border: none;
}


.SidebarBox:hover {
  position: absolute;
  border-radius: 4px;
  top: 200px;
  left: -3px;
  width: 300px;
  height: 610px;
  margin: 12px;
  padding-right: 1px;
  background-color: white;
  color: rgb(42, 40, 40); 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}